<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block titulo%}Películas disponibles{%endblock titulo%}</title>
</head>
<body>

{% block cuerpo %}
<h1>Cplus</h1>
<p>Sean todos bienvenidos a Cplus, un lugar de encanto en donde podrás disfrutas de excelentes películas mientras recolectas monedas especiales en esta maravillosa aventura y te conviertes en cliente VIP</p>
<h2>Películas Disponibles</h2>
<table border = 2>
<thead>
<tr>
    <th>Nombre</th>
    <th>En cartelera</th>
    <th>Género</th>
    <th>Duración</th>
    <th>Nacionadilad</th>
    <th>Ver funciones</th>
</tr>
</thead>
<tbody>
    {% for pelicula in object_list%}
    <tr>
        <td>{{pelicula.nombre}}</td>
        <td>{{pelicula.enCartelera}}</td>
        <td>{{pelicula.genero}}</td>
        <td>{{pelicula.duración}}</td>
        <td>{{pelicula.nacionalidad}}</td>
        <td><a href="{% url 'funcionesf' %}" >Ver funciones</a></td>

    </tr>
    {% endfor %}
</tbody>
</table>
</br>
</br>
<button><td><a href="productos" >Comprar productos</a></td></button>
<button><td><a href="productos_VIP" >Comprar productos VIP</a></td></button>
{% endblock cuerpo %}
</body>
</html>
